<div class="row">
  <div class="col-lg-8 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add Income / Egress</h4>
        <p class="card-description">Specify amount and type.</p>
        <form
          class="forms-sample"
          [formGroup]="incomeEgressForm"
          (ngSubmit)="save()"
        >
          <div class="form-group">
            <label>Description</label>
            <input
              type="text"
              name="description"
              class="form-control"
              placeholder="Description"
              formControlName="description"
            />
          </div>
          <div class="form-group">
            <label>Amount</label>
            <input
              type="number"
              name="amount"
              class="form-control"
              placeholder="Amount"
              formControlName="amount"
            />
            <small>Must be a positive amount</small>
          </div>
          <div class="form-group">
            <label>Type</label>
            <select name="type" class="form-control" formControlName="type">
              <option selected hidden value="0">Choose a type...</option>
              <option value="1">Income</option>
              <option value="2">Egress</option>
            </select>
          </div>
          <app-btn
            [loading]="loading"
            [isInvalid]="incomeEgressForm.invalid"
            cssBtn="btn btn-primary me-2"
          ></app-btn>
          <!-- <button
            type="submit"
            class="btn btn-primary me-2"
            [disabled]="incomeEgressForm.invalid"
          >
            Save
          </button> -->
          <button class="btn btn-light" type="reset">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
