<div class="row">
  <div class="col-sm-6 col-lg-5 col-xl-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="icon-lg text-success">
            <i class="fa-solid fa-money-bill-1-wave"></i>
            <p class="text-success d-flex">
              <i class="mdi mdi-menu-down"></i
              ><span>{{ totalItemsIncome }} items</span>
            </p>
          </div>
          <div>
            <p class="statistics-title"><b>Income</b></p>
            <h3 class="rate-percentage">{{ totalIncome | currency }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-5 col-xl-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="icon-lg text-danger">
            <i class="fa-solid fa-money-bill-trend-up"></i>
            <p class="text-danger d-flex">
              <i class="mdi mdi-menu-down"></i
              ><span>{{ totalItemsEgress }} items</span>
            </p>
          </div>
          <div>
            <p class="statistics-title"><b>Egress</b></p>
            <h3 class="rate-percentage">{{ totalEgress | currency }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row m-5">
  <div class="col-12">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="fa fa-building text-info icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Difference</p>
            <div class="fluid-container">
              <h3
                [class.text-success]="difference >= 0"
                [class.text-danger]="difference < 0"
              >
                {{ difference | currency }}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 p-5" *ngIf="totalItemsIncome > 0 || totalItemsEgress > 0">
    <div class="card card-statistics">
      <div class="card-body">
        <h1 class="card-title">Graphic - {{ doughnutChartType }}</h1>

        <div style="display: block">
          <canvas
            baseChart
            [data]="doughnutChartData"
            [type]="doughnutChartType"
            [options]="doughnutChartOptions"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
