<div class="row">
  <div class="col-sm-6 col-lg-5 col-xl-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="icon-lg text-success">
            <i class="fa-solid fa-money-bill-1-wave"></i>
            <p class="text-success d-flex" *ngIf="totalItemsIncome">
              <i class="mdi mdi-menu-down"></i
              ><span>{{ totalItemsIncome }} items</span>
            </p>
          </div>
          <div>
            <p class="statistics-title"><b>Income</b></p>
            <h3 class="rate-percentage">{{ totalIncome | currency }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-5 col-xl-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="icon-lg text-danger">
            <i class="fa-solid fa-money-bill-trend-up"></i>
            <p class="text-danger d-flex" *ngIf="totalItemsEgress">
              <i class="mdi mdi-menu-down"></i
              ><span>{{ totalItemsEgress }} items</span>
            </p>
          </div>
          <div>
            <p class="statistics-title"><b>Egress</b></p>
            <h3 class="rate-percentage">{{ totalEgress | currency }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
